In [34]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from statsmodels.tsa.seasonal import seasonal_decompose

In [35]:
filename = "SaleDateHouses.pkl"
seed = 0

In [36]:
f = open(filename,"rb")
df = pickle.load(f)
X_feats = pickle.load(f)
Y_col = pickle.load(f)
f.close()

In [37]:
df.head()

,AYB,EYB,GBA,LANDAREA,LATITUDE,LONGITUDE,STYLE_1.5 Story Fin,STYLE_1.5 Story Unfin,STYLE_2 Story,STYLE_2.5 Story Fin,...,WARD_Ward 4,WARD_Ward 5,WARD_Ward 6,WARD_Ward 7,WARD_Ward 8,QUADRANT_NW,QUADRANT_SE,QUADRANT_SW,SOLDDAYS,PRICE
0,1910.0,1972,2522.0,1680,38.914680,-77.040832,0,0,0,0,...,0,0,0,0,0,1,0,0,5726,True
1,1910.0,1984,2522.0,1680,38.914684,-77.040678,0,0,0,0,...,0,0,0,0,0,1,0,0,1134,True
2,1900.0,1984,2484.0,1680,38.914683,-77.040629,0,0,0,0,...,0,0,0,0,0,1,0,0,4766,True
3,1913.0,1972,5344.0,2196,38.914331,-77.039715,0,0,0,0,...,0,0,0,0,0,1,0,0,3441,True
4,1906.0,1972,2401.0,1627,38.915408,-77.040129,0,0,0,0,...,0,0,0,0,0,1,0,0,2861,True

In [38]:
df[X_feats].head()

,AYB,EYB,GBA,LANDAREA,LATITUDE,LONGITUDE,STYLE_1.5 Story Fin,STYLE_1.5 Story Unfin,STYLE_2 Story,STYLE_2.5 Story Fin,...,WARD_Ward 3,WARD_Ward 4,WARD_Ward 5,WARD_Ward 6,WARD_Ward 7,WARD_Ward 8,QUADRANT_NW,QUADRANT_SE,QUADRANT_SW,SOLDDAYS
0,1910.0,1972,2522.0,1680,38.914680,-77.040832,0,0,0,0,...,0,0,0,0,0,0,1,0,0,5726
1,1910.0,1984,2522.0,1680,38.914684,-77.040678,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1134
2,1900.0,1984,2484.0,1680,38.914683,-77.040629,0,0,0,0,...,0,0,0,0,0,0,1,0,0,4766
3,1913.0,1972,5344.0,2196,38.914331,-77.039715,0,0,0,0,...,0,0,0,0,0,0,1,0,0,3441
4,1906.0,1972,2401.0,1627,38.915408,-77.040129,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2861

In [39]:
y = df[Y_col]

In [40]:
X = df[X_feats]
for col in X.columns:
    X[col] = (X[col] - min(X[col]))/(max(X[col]) - min(X[col]))

/home/sean/Code/incoming/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=seed)

In [42]:
y_train.max()

True

In [43]:
X_train_fill = X_train.fillna(0)
X_test_fill = X_test.fillna(0)

In [44]:
logreg = LogisticRegression(fit_intercept = False, C = 1e12, solver='lbfgs')
model_log = logreg.fit(X_train_fill, y_train)
model_log

/home/sean/Code/incoming/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

LogisticRegression(C=1000000000000.0, class_weight=None, dual=False,
          fit_intercept=False, intercept_scaling=1, max_iter=100,
          multi_class='warn', n_jobs=None, penalty='l2', random_state=None,
          solver='lbfgs', tol=0.0001, verbose=0, warm_start=False)

In [45]:
y_hat_prob = logreg.predict_proba(X_test_fill)

In [46]:
y_hat_prob[:20]

array([[9.99995211e-01, 4.78872054e-06],
       [9.95423039e-01, 4.57696130e-03],
       [9.97393531e-01, 2.60646948e-03],
       [9.99987860e-01, 1.21397621e-05],
       [9.99885827e-01, 1.14173146e-04],
       [9.99971920e-01, 2.80799154e-05],
       [1.50162925e-02, 9.84983708e-01],
       [4.12181481e-01, 5.87818519e-01],
       [9.99976460e-01, 2.35403368e-05],
       [9.99046785e-01, 9.53215166e-04],
       [6.26564532e-02, 9.37343547e-01],
       [9.69937626e-01, 3.00623737e-02],
       [9.99998451e-01, 1.54910498e-06],
       [9.99962321e-01, 3.76785202e-05],
       [9.99991353e-01, 8.64665963e-06],
       [9.99997275e-01, 2.72547151e-06],
       [9.98482080e-01, 1.51791986e-03],
       [6.64798211e-01, 3.35201789e-01],
       [9.99999819e-01, 1.80635177e-07],
       [9.98840699e-01, 1.15930117e-03]])

In [47]:
y_test.head(20)

40403    False
54182    False
9968     False
49491    False
41456    False
53230    False
15369     True
18980     True
46541    False
43974    False
4126      True
2380     False
8321     False
30882    False
3474     False
23273    False
5573     False
8750     False
39870    False
5938     False
Name: PRICE, dtype: bool

In [48]:
loglike = 0
for i, tf in enumerate(y_test):
    if tf:
        loglike += np.log(y_hat_prob[i][1])
    else:
        loglike += np.log(y_hat_prob[i][0])
print(loglike)

-1357.588404577057

In [49]:
k = len(X_feats)
print(k)

325

In [50]:
AIC = 2*k - 2*loglike
print(AIC)

3365.176809154114

In [51]:
lowest_AIC = 4192.3804603229255

In [52]:
lowest_AIC-AIC

827.2036511688116