In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from statsmodels.tsa.seasonal import seasonal_decompose

In [3]:
filename = "../data/processed/NoSaleDateHouses.pickle"
seed = 0

In [4]:
f = open(filename,"rb")
df = pickle.load(f)
X_feats = pickle.load(f)
Y_col = pickle.load(f)
f.close()

In [5]:
df.head()

,AYB,EYB,SALEDATE,PRICE,LATITUDE,LONGITUDE,log(PRICE),SOLD_1_MIL_OR_MORE,log(GBA),STYLE_1.5 Story Fin,...,WARD_Ward 2,WARD_Ward 3,WARD_Ward 4,WARD_Ward 5,WARD_Ward 6,WARD_Ward 7,WARD_Ward 8,QUADRANT_NW,QUADRANT_SE,QUADRANT_SW
0,1910.0,1972,2003-11-25,1095000.0,38.914680,-77.040832,13.906265,1,7.832808,0,...,1,0,0,0,0,0,0,1,0,0
1,1910.0,1984,2016-06-21,2100000.0,38.914684,-77.040678,14.557448,1,7.832808,0,...,1,0,0,0,0,0,0,1,0,0
2,1900.0,1984,2006-07-12,1602000.0,38.914683,-77.040629,14.286763,1,7.817625,0,...,1,0,0,0,0,0,0,1,0,0
3,1913.0,1972,2010-02-26,1950000.0,38.914331,-77.039715,14.483340,1,8.583730,0,...,1,0,0,0,0,0,0,1,0,0
4,1906.0,1972,2011-09-29,1050000.0,38.915408,-77.040129,13.864301,1,7.783641,0,...,1,0,0,0,0,0,0,1,0,0

In [6]:
df[X_feats].head()

,AYB,EYB,LATITUDE,LONGITUDE,log(GBA),STYLE_1.5 Story Fin,STYLE_1.5 Story Unfin,STYLE_2 Story,STYLE_2.5 Story Fin,STYLE_2.5 Story Unfin,...,WARD_Ward 2,WARD_Ward 3,WARD_Ward 4,WARD_Ward 5,WARD_Ward 6,WARD_Ward 7,WARD_Ward 8,QUADRANT_NW,QUADRANT_SE,QUADRANT_SW
0,1910.0,1972,38.914680,-77.040832,7.832808,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
1,1910.0,1984,38.914684,-77.040678,7.832808,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
2,1900.0,1984,38.914683,-77.040629,7.817625,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
3,1913.0,1972,38.914331,-77.039715,8.583730,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
4,1906.0,1972,38.915408,-77.040129,7.783641,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [7]:
y = df[Y_col]

In [8]:
X = df[X_feats]
for col in X.columns:
    X[col] = (X[col] - min(X[col]))/(max(X[col]) - min(X[col]))

/home/sean/Code/incoming/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=seed)

In [10]:
y_train.max()

1

In [11]:
X_train_fill = X_train.fillna(0)
X_test_fill = X_test.fillna(0)

In [12]:
logreg = LogisticRegression(fit_intercept = False, C = 1e12, solver='lbfgs')
model_log = logreg.fit(X_train_fill, y_train)
model_log

/home/sean/Code/incoming/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

LogisticRegression(C=1000000000000.0, class_weight=None, dual=False,
          fit_intercept=False, intercept_scaling=1, max_iter=100,
          multi_class='warn', n_jobs=None, penalty='l2', random_state=None,
          solver='lbfgs', tol=0.0001, verbose=0, warm_start=False)

In [13]:
y_hat_prob = logreg.predict_proba(X_test_fill)

In [14]:
y_hat_prob[:20]

array([[5.22763477e-01, 4.77236523e-01],
       [9.99998487e-01, 1.51321278e-06],
       [8.71589061e-01, 1.28410939e-01],
       [9.98372674e-01, 1.62732589e-03],
       [9.99350013e-01, 6.49986938e-04],
       [9.83793892e-01, 1.62061080e-02],
       [9.99998853e-01, 1.14678951e-06],
       [9.99999501e-01, 4.99299224e-07],
       [9.99934363e-01, 6.56373722e-05],
       [9.99913282e-01, 8.67175902e-05],
       [9.99998432e-01, 1.56845879e-06],
       [9.99066011e-01, 9.33988944e-04],
       [9.99849220e-01, 1.50779866e-04],
       [9.82114091e-01, 1.78859089e-02],
       [9.98314830e-01, 1.68516960e-03],
       [9.86726364e-01, 1.32736364e-02],
       [9.93323479e-01, 6.67652081e-03],
       [8.48966581e-01, 1.51033419e-01],
       [9.87365474e-01, 1.26345260e-02],
       [9.99719403e-01, 2.80596764e-04]])

In [15]:
y_test.head(20)

13978    0
54084    0
2008     0
33046    0
19091    0
15990    0
44848    0
41720    0
29395    0
38954    0
31409    0
28378    0
40344    0
26102    0
22735    0
19412    0
7347     0
1594     0
3646     0
35912    0
Name: SOLD_1_MIL_OR_MORE, dtype: int64

In [16]:
loglike = 0
for i, tf in enumerate(y_test):
    if tf:
        loglike += np.log(y_hat_prob[i][1])
    else:
        loglike += np.log(y_hat_prob[i][0])
print(loglike)

-1782.4909014718196

In [17]:
k = len(X_feats)
print(k)

324

In [18]:
AIC = 2*k - 2*loglike
print(AIC)

4212.981802943639

In [26]:
sale_date_AIC = 3383.179999821266  # Calculated in 8.0-sale-date-model-selection.ipynb

In [25]:
sale_date_AIC - AIC  # Delta is negative, so sale date is better

-829.8018031223733